
  <style>
    h1, table {
    display: flex;
    justify-content: center;  
    align-items: center;      
    border-collapse: collapse;
  }
  td, th {
    border:1px solid black;
     
  }
  </style>

  <body>

    <h1>Social Media App</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Category</th>
        <th>Created at</th>
      </tr>
      
      <tr>
        <td><%= @post.title %></td>
        <td><%= @post.content %></td>
        <td><%= @post.category %></td>
        <td><%= formatted_timestamp(@post.created_at) %></td>
      </tr>
    </table>
    <br>

    <%= link_to "Edit Post", edit_post_path(@post) %><br><br>
    <%= link_to "Delete Post", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?" } %>

    <br><br>
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
      
      <p>
        <strong>Name:</strong>
        <%= comment.commenter %>
      </p>
      
      <p>
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>

    <p>
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
  
      <%= link_to "Delete", [comment.post, comment], data: {
                   turbo_method: :delete,
                   turbo_confirm: "Are you sure?"
      }, style: "margin-left: 10px;" %> 
    </p><br>
    <% end %>

    <br>

    <h2>Add Comment:</h2>

    <%= form_with model: [@post, @post.comments.build] do |form| %>
      
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :commenter %>
      </p>

      <p>
        <%= form.label :Comment %><br>
        <%= form.text_area :body %>
      </p>

      <p>
        <%= form.submit %>
      </p>  
    <% end %>

    </body>



